<nav>
  <a class="logo-link" href="/">
    <h1><%- blogTitle %></h1>
    <span><%- blogSubtitle %></span>
  </a>

  <small>
    <a id="about" class="info-link" href="/about.html">About me!</a> /
    <a id="works" class="info-link" href="/works.html">Projects</a> /
    <a id="articles" class="info-link" href="/articles.html">📚Blog</a>/
    <a href="https://github.com/MichelKassis" target="_blank" class="fa fa-github-square" style="color: rgb(214, 91, 50);"></a>
    <a id="articles" class="info-link" href="https://github.com/MichelKassis">Github</a>
  </small>
</nav>